<%- include('../partials/header') %> 

<h1>Display All Flights</h1>
<div class="flightOverall" id="flightHeaders">
    <div class="flightNo">Flight Number</div>
    <div class="airport">Airport</div>
    <div class="airline">Airline</div>
    <div class="departs">Departure Date</div>
</div>
<br>
<div class="flightOverall">
        <div class="flightNo"> <%= flight.flightNo %> </div>
        <div class="airport"> <%= flight.airport %> </div>
        <div class="airline"> <%= flight.airline %></div>
        <% if (flight.departs < new Date()) { %>
            <div class="departs" id="red"> <%= flight.departs %> </div>
            <% } else { %>
                <div class="departs"> <%= flight.departs %> </div>
        <% } %>
        <div class="button"><form method="POST" action="/flights/<%= flight.id %>?_method=DELETE"><button type="submit" id="red" >Delete</button></form></div>
        <br>
</div>
<br><br>
<% if (flight.destinations.length) { %>
 
<div class = "destinationOverall">
    <div class="destinationHeaders">
        <div class="airportDestination">Destination</div>
        <div class="dateDestination">Arrival Date</div>
    </div>
    <br>
        <% flight.destinations.forEach(d => { %>
        <div class="destinationEach">
            <div class="airportDestination"><%= d.airport %></div>
            <div class="dateDestination"><%= d.arrival %></div>
        </div>
    <% }) %>
</div>
<% } else { %>
<br>
<% } %>
<br>
<div class = "addDestinationsDiv">
<form id="add-destination-form" class="destinationOverall" method="POST" action="/flights/<%= flight._id %>/destinations">
<label class="newAirportDestination">Desination</label>
<select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
</select>
<label>Departure Date:</label>
    <input type="date" name="arrival" class="newDateDestination">
<input type="submit" value="Add Destination">   
</form>
</div>
<button id="newDestButton">New Destination</button>
 <H3>Current Tickets</H3>
<div class="ticketOverall">
    <div class ="ticketHeaders">
        <div class="seat">Seat</div>
        <div class="price">Price</div>
        <div class="flight">Flight</div>
    </div>
    <% tickets.forEach(t => { %>
     <div class ="ticketHeaders">
        <div class="seat"><%= t.seat %></div>
        <div class="price"><%= t.price %></div>
        <div class="flight"><%= flight.flightNo %></div>
    </div>
    <% }) %>
</div>
<button id="newTicketButton">New Ticket</button>

<div class="newTicketsDiv">
    <H3>Add Ticket For Flight <%= flight.flightNo %></H3>
<form id="add-ticket-form" class ="ticketOverall" method="POST" action="/flights/<%= flight._id %>/tickets">
    <label>Seat</label><input name="seat" required pattern="[A-F][1-9]\d?">
    <label>Price</label><input name="price" type="number" min="0">
    <input type = "hidden" name="flight" value="<%= flight._id %>">
    <input type="submit" value="Add Ticket">
</form>
<img id="planePicture" src="https://i.imgur.com/cEglAia.jpg" alt="">
</div>




<%- include('../partials/footer') %> 